<div class="container">
    <div class="row">
        <div class="col-10-center">
            <h1>Polls app</h1>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-4">
            <app-cake-form></app-cake-form>
        </div>
        <div class="col-8" id="commentSection">
            <app-add-comments [getAllCakes] = "getAllCakes" [allCakes] = "allCakes"></app-add-comments>
        </div>
    </div>
</div> -->
<!-- 
<button [routerLink]="['/cakeForm']">Load Cake Form</button>
<button [routerLink]="['/commentForm']">Load Comments</button> -->
<router-outlet>
</router-outlet> 



<!-- <div *ngFor="let cake of allCakes" class="userCard">
    <div>
        {{cake.baker}} {{cake.imageUrl}}
    </div>
</div> -->
